body {
    background-color: gray;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
ul {
	list-style-position:inside;
}
.vertical-menu {
    width: 200px; 
}

.vertical-menu a {
    background-color: gray; 
    color: white; 
    display: block; 
    padding: 12px; 
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: black; 
}

.vertical-menu a.active
.vertical-menu a:hover {
    background-color: gray; 
    color: white;

}

button {
    background-color: #FC0FC0;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


